
body{
    padding: 0;
    margin: 0;
    direction: rtl;
}

:root{
    --brand-color:#151133;
    /* --brand-color:#7462F4; */
    --secondary-color:#802be7;
    --third-color:#FFF;
    --fourth-color:#FF9800;

}
@font-face {
    font-family:"NotoKufiArabic-Bold";
    src: url(../fonts/NotoKufiArabic-Bold.ttf);
    font-display: swap;

}
@font-face {
    font-family:"NotoKufiArabic-Medium";
    src: url(../fonts/NotoKufiArabic-Medium.ttf);
    font-display: swap;

}
::selection{
    background-color:var(--secondary-color);
    
    }
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
    border-radius: 12px;
  }

.special-heading {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 30px;
   

    
}
.special-heading::before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 140px;
    height: 2px;
    background-color: var(--brand-color);
   

    
}
.special-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    animation: Hmoving 10s ease-in-out infinite;

   

    
}

@keyframes Hmoving {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-125px);
    }  
    100%{
        transform: translateX(0px);
    }
    
}

.special-heading .special-design>span {
    margin-left: 20px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border-width:5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--brand-color)  ; 
    animation: rotateReverse 3s linear infinite;


    
}
.special-heading .special-design>span>span {
    display: inline-block;
    /* padding: 20px; */
    width: 40px;
    height: 40px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    border-width:5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--secondary-color)  ; 
    animation: rotate 1s linear infinite;
    
}
.special-heading .special-design>span>span >span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:   var(--brand-color);
    border-radius: 50%;
    
}
.special-heading >span:last-of-type{
    font-family:"NotoKufiArabic-Bold",sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: var(--brand-color);
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateReverse {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@media (max-width:576px) {
    .special-heading .special-design{
        display: none;
    }
    .special-heading >span:last-of-type{
  
        font-size: 40px;
  
    }
    .contact-us .text p{
        margin-right: 0 !important;
    }
}


/* Start Owl Carousel Style */
.owl-carousel {
 
    direction: ltr;
  }
  .disabled{
    display: none;
  }

  
  /* fix blank or flashing items on carousel */

  
  /* end fix */
  
  .owl-carousel .owl-stage-outer{
    position: relative;
  }
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 55.5px;
    height: 57.1px;
    border: 1px solid #eaedf7 !important;
    border-radius: 101px;
    filter: drop-shadow(0px 2px 2px rgba(28,41,90,0.04 ));
    visibility: hidden;
    transition: all .4s ease-in-out;
    background: #ffffff !important;
    opacity: 0;

  }
  
  .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 55.5px;
    height: 57.1px;
    border: 1px solid #eaedf7 !important;
    border-radius: 101px;
    filter: drop-shadow(0px 2px 2px rgba(28,41,90,0.04 ));
    transition: all .4s ease-in-out;
    visibility: hidden;
    opacity: 0;


    background: #ffffff !important
  }
  .owl-carousel:hover .owl-nav .owl-prev{
    left:-30px;
    visibility: visible;
    opacity: 1;


  }
  .owl-carousel:hover .owl-nav .owl-next{
    right:-30px;
    visibility: visible;
    opacity: 1;


  }

  @media(max-width:992px){
    .owl-nav{
        display: none;
    }
  }
  
  /* End Owl Carousel Style */

/* Start Header */

header{
    height: 100vh;
    min-height:700px;
    position: relative;
    overflow: hidden;
    background-image:linear-gradient(180deg,#151133 0%,#151133eb 100%),url(../images/main_banner.webp);
    background-size: cover;
}

header nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 99;
    transition: all 0.9s ease-in-out;
    font-family:"NotoKufiArabic-Medium",sans-serif;

   
    
}


header nav .logo img{
    width: 140px;
}
header nav .logo .default{
    display: block;

}
header nav .logo .sticky{
    display: none;

}
header nav.sticky-nav .logo .default{
    display: none;

}
header nav.sticky-nav .logo .sticky{
    display: block;

}

header nav.sticky-nav {
    background: #FFF;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 20px #c8c8c880;
    animation: stickyHeaderAnimation .5s ease-in-out;
    z-index: 9999999;
}
header .navbar .close-aside{
    display: none;
    

}

header nav .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav .navbar ul li{
    display: inline-block;
    padding: 15px;
    font-size: 1.1rem;
}

header nav .navbar ul li a{
    text-decoration: none;
    color:var(--third-color);
    transition: all .3s ease-in-out;
}
header nav .navbar ul li a:hover,
header nav .navbar ul li a.active{
    color: var(--secondary-color);
}
header nav.sticky-nav .navbar ul li a{
    text-decoration: none;
    color:var(--brand-color);
}
header nav.sticky-nav .navbar ul li a:hover,
header nav.sticky-nav .navbar ul li a.active{
    color: var(--secondary-color);
}
@keyframes stickyHeaderAnimation {
    0%{
        margin-top: -150px;

    }
    100%{
        margin-top: 0;
    }
    
}
header .hamburger{
    display: none;
    color: var(--brand-color);
}


header .wave{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 100px;
    background-image: url(../images/wave.webp);
    background-size: 1000px;
}
header .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
header .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: .5;
    animation-delay: -5s;
    bottom: 10px;
}
header .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
header .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
    
}


@keyframes animate {
    0%{
        background-position-x:0 ;
    }
    100%{
        background-position-x:1000px ;
    }
    
}
@keyframes animate2 {
    0%{
        background-position-x:0 ;
    }
    100%{
        background-position-x:-1000px ;
    }
    
}

header .scroll-down{
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 50px;
    border: 3px solid #FFF;
    border-radius: 40px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;

}
header .scroll-down span{
    display: block;
    width: 4px;
    height: 8px;
    background-color: #FFF;
    border-radius: 10px;
    animation: movingDown 2s ease-in-out infinite;
}
@keyframes movingDown {
    0%{
        transform: translateY(0);
    }
  
    100%{
       transform: translateY(20px);
    }
    
}

@media (max-width:767px) {
    header nav .logo img{
        width: 90px ;
    }
    header .hamburger{
        width:auto;
        cursor: pointer;
        display: block;
    }
    header .hamburger span{
        display: block;
        height: 4px;
        border-radius: 3px;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--third-color);

    }
    header .sticky-nav .hamburger span{
        

    }
    header nav.sticky-nav .hamburger span{
        background-color: var(--brand-color);
    }
    header .hamburger span:nth-child(1) {
        width: 20px;
    }
    header .hamburger span:nth-child(2) {
        width: 30px;
    }
    header .hamburger span:nth-child(3) {
        width: 25px;
    }

    header .hamburger:hover span{
        width: 30px;
    }
    header .hamburger.active span{
        width: 30px;
    }
    header .navbar.show {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(5, 5, 5, 0.395);
        padding: 0;
        z-index: 99999;
    }

    header .navbar ul{
        display: block;
        position: fixed;
        top: 0;
        right:-300px;
        width: 300px;
        height: 100vh;
        background-color: var(--brand-color);
        transition: all .3s ease-in-out;
        color: #FFF;
        
    }
    header .navbar.show ul{
        right: 0;
        padding: 80px 0;
        position: relative;
    }
    header .navbar.show .close-aside{
        display: block;
        content: url(../images/close.webp);
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;

    }
    header .navbar ul {
        display:block !important;
        
    }
    header nav .navbar ul li{
        font-weight: bold;
        transition: all .3s ease-in-out;
        display: block;
        color: #FFF;
        text-align: center;
        border-bottom: 1px solid #FFF;
        font-size: 16px;
        font-weight: 400;


    }
    header nav .navbar ul li a{
       
        color:#FFF;
       
    }
    header .navbar ul li:hover{
        background-color: var(--secondary-color);
    }
    header .navbar ul li:hover a{
        color:#FFF !important;
    }
   
    header .navbar ul li a{
     
        color:#FFF;
        display: block;
        width: 100%;
        padding: 15px;
    }
    header nav.sticky-nav .navbar ul li a {
        text-decoration: none;
        color: #FFF;
    }

 

}

header .main-banner{
    padding: 50px 0;
    height:100vh;
    display: flex;
    align-items: center;
}
header .main-banner .content h1{
    color: var(--third-color);
    font-family:"NotoKufiArabic-Bold",sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
}
header .main-banner .content p{
    color: var(--brand-color);
    font-family:"NotoKufiArabic-Medium",sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
}



@media (max-width:1200px){
    header .main-banner .content h1{
        font-family:"NotoKufiArabic-Bold",sans-serif;
        font-size: 55px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    header .main-banner .content p{
       
        margin-bottom: 0px;
    }
    header .main-banner{
        padding-top: 100px;
        text-align: center;

    }
    header .main-banner .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .main-banner .image img{
     
        -webkit-mask-image: url(../images/svgviewer-output2.svg);
        mask-image: url(../images/main_banner_mask.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;  
        -webkit-mask-size: cover;
        mask-size:cover;  
        height: 400px;
        margin: auto;
    
    
    }
}
@media (min-width:1200px){

    header .main-banner .image img{
     
        -webkit-mask-image: url(../images/svgviewer-output.svg);
        mask-image: url(../images/main_banner_mask.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;  
        height: 600px;
    
    
    }
}

/* End Header Style */

/* Start about-us Style */
.about-us{
    padding: 120px 0 ;
    overflow: hidden;
}
@media (max-width:767px) {
    .about-us{
        padding: 70px 0 ;
    }
    .about-us .content{
        margin-bottom: 50px;
    } 
   
}   
@media (min-width:768px) and (max-width:992px) {
    .about-us .content{
        margin-bottom: 70px;
    } 
    
}
.about-us .content p{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    line-height: 2;
    

}
.about-us .image{
    position: relative;
    
}
.about-us .image img{
    position: relative;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 10px 10px 61px #adadad;

  
}
.about-us .image::before{
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    background-color: var(--fourth-color);
    border-radius: 20px;
    transform: rotate(10deg);
    z-index: 1
}

/* End About us style */

/*Start Free Services*/
.free-services{
    padding: 120px 0 ;
    overflow: hidden;
    font-family:"NotoKufiArabic-Medium",sans-serif;

}

@media (max-width:767px) {
    .free-services{
        padding: 70px 0 ;
    }
}  
.free-services .box{
    padding: 3px;
    position: relative;
    border-radius: 16px;
    height: 200px;
    overflow: hidden;
    background-color: #EEE;
    display: flex;
    align-items:center ;
    justify-content: center;
    margin-bottom: 25px;
    transition: all .4s ease-in-out;
    user-select: none;


  }
  .free-services .box::before{
    content: "";
    position: absolute;
    width: 47%;
    height: 168%;
    background:#FF9800   ;
    transform-origin: center;
   
    
  }
  .free-services .box:hover::before{
    animation: rotate 5s linear infinite;


  }
  .free-services .box::after{
    content: "";
    position: absolute;
    background-color: #FFF;
    inset: 3px;
    border-radius: 14px;
    transition: all .4s ease-in-out;
   
    
  }
  .free-services .box .inner{
    text-align: center;
    padding: 0 10px;
    z-index: 999;
  }
  

  .free-services .box .inner .image{
    position: relative;
  }
  .free-services .box .inner .image .dark{
    display: block;
    opacity: 1;
    transition: all .4s ease-in-out;
  }
  .free-services .box .inner .image .white{
    display: none;
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  .free-services .box .inner .image::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #e2e2e2;
  }
  .free-services .box:hover{
    transform: translateY(-10px);
    color: #FFF;
  }
  .free-services .box:hover .inner .image .dark{
    display: none;
  }
  .free-services .box:hover .inner .image .white{
    display: block;
    opacity: 1;
  }
  .free-services .box:hover::after{
    background-color: var(--secondary-color);
  }
  .free-services .box:hover .inner .image::after{
    animation: pluse 1s linear infinite;

  }
 
  .free-services .box .inner img{
    width:90px;
    position: relative;
    display: block;
    z-index: 1;
    transition: all .3s ease-in-out;
    margin: auto;
  }

  .free-services .box .inner h4{
    padding: 15px 0 0 0;
    font-size: 1.1rem;
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
 
    100%{
      transform: rotate(360deg);
    }
    
  }
  
  @keyframes pluse {
    0%{
      width: 0;
      height: 0;  
      opacity: 1;
    }
 
    100%{
        width: 150px;
        height: 150px;  
        opacity: 0;
    }
    
  }
  
/* End Free Services Style */



/* Start services Style */
.services{
    padding: 120px 0 ;
    overflow: hidden;
}
@media (max-width:767px) {
    .services{
        padding: 70px 0 ;
    }
}    
.services .service{
    padding: 30px 10px;
    border-radius: 12px;
    /* box-shadow:0 0px 14px #ebe7e7; */
    border: 1px solid #e9e7e7;
    background-color: #FFF;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.services .service .service-image img{
    width: 100px;
    margin: auto;
}
.services .service .service-info h3{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    font-size: 25px;
    color: var(--secondary-color);

    font-weight: bold;
    margin: 30px 0 20px 0;

}
.services .service .service-info p{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    font-size: 17px;
    color: var(--brand-color);


}
.service .actions{
    position: absolute;
    bottom: -400px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    background: rgba(241, 239, 254, 0.6);
    border: 0.75249px solid rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(23px);
    border-radius: 12px;
}
.service .actions .brand-btn{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFF;
}
.services .service:hover .actions{
    bottom: 0;
}
/* End services Style */





/* Start our-services Style */
.our-services{
    padding: 120px 0 ;
    background-color: #FBFBFB;
    overflow: hidden;
}
@media (max-width:767px) {
    .our-services{
        padding: 70px 0 ;
    }
}

.our-services .box{
    padding: 10px 10px;
    border-radius: 12px;
    /* box-shadow:0 0px 14px #ebe7e7; */
    border: 1px solid #e9e7e7;
    background-color: #FFF;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.our-services .box .box-image{
    background-color: var(--brand-color);
    border-radius: 8px;
    overflow: hidden;

}
.our-services .box .box-image img{
    width: 100%;
    height: 200px;
    margin: auto;
    opacity: .7;
}
.our-services .box .box-info h3{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    font-size: 23px;
    color: #474747;

    font-weight: bold;
    margin: 30px 0 20px 0;

}
.our-services .box .box-info p{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    font-size: 17px;
    color: var(--brand-color);


}
.box .actions{
    position: absolute;
    bottom: -400px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    background: rgba(241, 239, 254, 0.6);
    border: 0.75249px solid rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(23px);
    border-radius: 12px;
}
.our-services .box .actions .brand-btn{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    border: none;
    outline:none;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--fourth-color);
    color: #FFF;
}
.our-services .box:hover .actions{
    bottom: 0;
}
/* Start pop up */

.our-services .pop-up{
    position: fixed;
      top: 0;
      left:0;
      width: 100%;
      height: 100vh;
      background-color: rgba(11,11,11, 80%);
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      transition: all .3s ease-in-out;
  }

  .our-services .pop-up.show{
    visibility: visible;
    opacity: 1;
    z-index: 99999999;
  
  
  }
  .our-services .pop-up .inner{
      width: 80%;
      height: 90%;
      background-color: #FFF;
      padding:30px;
      border-radius: 12px;
      transform: translateY(-10px);
      transition: all .3s ease-in-out;

  
  }
  .our-services .pop-up .inner .row{
    overflow: scroll;
    height: 100%;
    padding:0;
  }
  @media (max-width:992px){
    .our-services .pop-up .inner{
        width: 100%;
        height:100dvh;
        background-color: #FFF;
        padding:60px 10px 0px 10px;
        transform: translateY(100vh);
        transition: all .4s ease-in-out;
        border-radius: 40px 40px 0 0;

  
    
    }
  }
  .our-services .pop-up.show .inner{
  
    transform: translateY(10px);
    z-index: 99999999;

  

}
  .our-services .pop-up .inner .close-pop-up{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 14px;
    box-shadow: 0 0 23px #a6a6a6;
    border-radius: 12px;
    cursor: pointer;

  
  }
  @media (max-width:992px){
    .our-services .pop-up .inner .close-pop-up{
        top: 5px;
        left: 5px;
        box-shadow:unset;
       
    
    }
    .our-services .pop-up .inner .close-pop-up img{
        width:20px
    }
  }

  .our-services .pop-up .inner .row::-webkit-scrollbar-thumb{
    background:transparent;
  }
  .our-services .pop-up .inner .row::-webkit-scrollbar {
    width: 0px;
  }

.our-services .pop-up .inner .images .selected-image{
    border-radius: 15px;
    border:3px solid var(--fourth-color);
    overflow: hidden;
    
}
.our-services .pop-up .inner .images .select-image{
    gap:15px;
    margin: 30px 0;
    
}
.our-services .pop-up .inner .images .select-image .img{
    width: 25%;
    height: 120px; 
    background-color: #000;
    border-radius: 10px;

   
} 
@media (max-width:992px){
    .our-services .pop-up .inner .images .select-image{
        gap:8px;
        
    }
    .our-services .pop-up .inner .images .select-image .img{
        width: 25%;
        height: 90px; 
 
       
    } 
}
.our-services .pop-up .inner .images .select-image .img.selected img{
    border: 3px solid var(--secondary-color);
    opacity:1;
}
.our-services .pop-up .inner .images .select-image .img img{
    width: 100%;
    height: 100%; 
    border-radius: 10px;

    opacity:.4

} 
.our-services .pop-up .inner .description{
    font-family:"NotoKufiArabic-Medium",sans-serif;

}

.our-services .pop-up .inner .description h3{
    font-size: 40px;
    font-weight: bold;
    color: var(--brand-color);
    margin-bottom: 24px;
    padding-bottom: 15px;
    position: relative;
    
}
.our-services .pop-up .inner .description h3::after{
    content:"";
    position: absolute;
    bottom:0px;
    right:0px;
    width:140px;
    height:4px;
    background-color: var(--fourth-color);
    

}
.our-services .pop-up .inner .description span.price{
    display: inline-block;
    margin-bottom: 20px;
    background-color: var(--fourth-color);
    padding: 3px 10px;
    border-radius: 8px;
    color:#FFF;
    

}
.our-services .pop-up .inner .description  h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    

}
.our-services .pop-up .inner .description .offices-categories ul{
    list-style: none;
    margin:0;
    padding:0;
    

}
.our-services .pop-up .inner .description .offices-categories ul li{
   margin-bottom:10px
    

}
.our-services .pop-up .inner .description .available-services   .service{
    padding: 10px 20px;
    background-color: #e5eaf8;
    border-radius: 21px;
    

}
.our-services .pop-up .inner .description .actions .whatsapp-btn{
    text-decoration: none;
    width: 100%;
    background: #25D366;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    border-radius: 65px;
    margin: 25px 0 60px 0;
    

}
/* End services Style */


/* Start Contact us Section */
.contact-us{
    padding: 120px 0;
    overflow: hidden;
    }
@media (max-width:767px) {
    .contact-us{
        padding: 70px 0 ;
    }
}

.contact-us .text p{
    font-family:"NotoKufiArabic-Medium",sans-serif;

    color: var(--brand-color);

}   
.contact-us .contact-form{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    background: #FFF;
    box-shadow: 0 0 80px #1f1e452e;
    backdrop-filter: blur(23px);
    border-radius: 16px;
    padding: 50px 20px;

}
.contact-form .form-group input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #FFF;
    border:2px solid #FFF;
    box-shadow: 0 0 15px #e4e4e4;
    transition: border .2s ease-in-out;
}
.contact-form .form-group textarea{
    display: block;
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #FFF;
    border:2px solid #FFF;
    box-shadow: 0 0 15px #e4e4e4;
    transition: border .2s ease-in-out;

}
.contact-form .form-group .error-message{
    color: rgb(219, 15, 15);
    font-size: .8rem;
}
.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus{
    border-color: var(--brand-color);
}
.contact-form .brand-btn{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    text-decoration: none;
    outline: none;
    width: 100%;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFF;
}
.contact-form .brand-btn .animation span{
    
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #FFF;
    border-radius: 50%;
  
   }
   .contact-form .brand-btn .animation span:nth-of-type(1){
    animation: moving 1s linear 0s infinite;
   }
   .contact-form .brand-btn .animation span:nth-of-type(2){
    animation: moving 1s linear 0.3s infinite;
   }
   .contact-form .brand-btn .animation span:nth-of-type(3){
    animation: moving 1s linear .6s infinite;
   }

   @keyframes moving {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-15px);
    }
    0%{
      transform: translateY(0);
    }
    
   }
/* End Contact us Section */



/* Start Our Customers Section */
.our-customers{
    padding: 120px 0;
    background-color: #FBFBFB;
    overflow: hidden;


}
@media (max-width:767px) {
    .our-customers{
        padding: 70px 0 ;
        
    }
}
.our-customers .owl-carousel .owl-stage-outer{
    padding:  20px 0;
}
.our-customers .owl-carousel .item .box{
    background-color: #FFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px #EEE;
}
/* End Our Customers Section */



/* Start Footer Section */
footer{
    padding: 120px 0;
    background-color: var(--brand-color);
    background-image:linear-gradient(180deg,#151133 0%,#151133eb 100%),url(../images/contact-us-background.webp);
    background-size: cover  ;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -ms-background-attachment: fixed;   
    -o-background-attachment: fixed;
    background-attachment: fixed;
    overflow: hidden;
}
@media (max-width:767px) {
    footer{
        padding: 70px 0 ;
        
    }
}
footer .logo p{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    font-size: 20px;
    color:#FFF;
    padding: 30px 0 0 0;

}
footer .heading{
    font-family:"NotoKufiArabic-Medium",sans-serif;
    font-size: 30px;
    color:#FFF;
    position: relative;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 20px;


}
footer .heading:after{
    content: "";
    position: absolute;
    right:1px;
    bottom: 0;
    width: 50px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
footer .contact .phone,
footer .contact .email{
    margin-bottom: 20px;
}

footer .contact .icon{
    width: 50px;
    height: 50px;
   display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    margin-left: 10px;
    
}
footer .contact a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;

}
footer .follow-us ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .follow-us ul li{
    display: inline-block;
    padding:5px;
}
footer .follow-us ul li a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: all .3s ease-in-out;
}
footer .follow-us ul li a:hover{
    transform: scale(1.1);
}
/* End Footer Section */





/* Start CopyRights Style */
.copyrights{
    background-color: var(--third-color);
    font-family:"NotoKufiArabic-Medium",sans-serif;
    color: var(--brand-color);

}
/* End CopyRights Style */


/*Start Whatsapp icon */
.whatsapp-icon{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999;
}
.whatsapp-icon img{
    transition: all .3s ease-in-out;
}
.whatsapp-icon img:hover{
    transform: scale(1.1);
}
/*End  Whatsapp icon */



/* Start pop up alert message section */

.pop-up-alert-message{
    position: fixed;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    padding:15px 10px;
    color: #FFF;
    text-align: center;
    z-index: 9999999;
    font-family: "NotoKufiArabic-Medium",monospace,sans-serif;
    transition: all .6s ease-in-out;
    border-radius: 10px;


}
.pop-up-alert-message .flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pop-up-alert-message .flex-box >span:first-of-type{
    width: 80%;
    display: flex;
    align-items: center;

}
.pop-up-alert-message .flex-box >span:first-of-type span{
    padding: 0 5px;
}
.pop-up-alert-message .flex-box >span:last-of-type{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

   .pop-up-alert-message.active{
    bottom: 100px;
}
   .pop-up-alert-message.success{
    background-color: #1bc95a;
}
   .pop-up-alert-message.error{
    background-color: #ea4545;
}

   .pop-up-alert-message .close-alert{
      cursor: pointer;
   }

@media (max-width:576px) {

    .pop-up-alert-message{
        width: 80%;
    }
    .pop-up-alert-message.active{
      bottom: 40px;
  }
    }

/* end pop up alert message section */